# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
.output/
.vercel/
.netlify/

# Astro
.astro/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
